<app-toolbar></app-toolbar>
<html>

<body>
<h2>{{course.name}}</h2>

<mat-tab-group mat-align-tabs="center" animationDuration="0ms">


  <mat-tab label="Details">

    <mat-card class="details">
      <mat-card-content>
        <div>
          <p>{{course.description}}</p>
          <br>
          <p>Year: {{course.year}}</p>
          <p>Semester: {{course.semester}}</p>
          <p>Professor name: {{course.professorName}}</p>
          <p *ngIf="exam" >Exam date: {{exam.examDate}}</p>
        </div>
      </mat-card-content>
    </mat-card>

  </mat-tab>


  <mat-tab label="Exam">

    <mat-card *ngIf="exam" class="exam">
      <mat-card-content>
        <div>
          <p>{{exam.description}}</p><br>
          <br>
          <p>Exam date: {{exam.examDate}}</p>
          <p>Exam room: {{exam.examRoom}}</p>
          <p>Exam hour: {{exam.examHour}}</p>
          <p>Points: {{exam.points}}</p>
        </div>
      </mat-card-content>
    </mat-card>

  </mat-tab>


  <mat-tab label="Homeworks">


    <table mat-table [dataSource]="Homeworks" class="mat-elevation-z8">

      <ng-container matColumnDef="deadline">
        <th mat-header-cell *matHeaderCellDef> Deadline</th>
        <td mat-cell *matCellDef="let homework"> {{homework.deadline}} </td>
      </ng-container>

      <ng-container matColumnDef="points">
        <th mat-header-cell *matHeaderCellDef> Points</th>
        <td mat-cell *matCellDef="let homework">{{homework.points}}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description</th>
        <td mat-cell *matCellDef="let homework">{{homework.description}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

  </mat-tab>

</mat-tab-group>


</body>
</html>
<router-outlet></router-outlet>
