<app-toolbar></app-toolbar>
<html>

<body>
<mat-card class="course-details">


  <mat-card-content>
    <div>
      <b>{{course.name}}</b> <br>
      {{course.description}} <br>
      Number of students : {{course.numberOfStudents}} <br>
      Year: {{course.year}} <br>
      Semester: {{course.semester}} <br>

      Professor name: {{course.professorName}} <br>

      <p *ngIf="exam">Exam date: {{exam.examDate}}</p>

    </div>
  </mat-card-content>

</mat-card>

<div *ngIf="Homeworks" class="content">

  <br>
  <p>HOMEWORKS:</p>
  <mat-divider></mat-divider>

  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let homework of Homeworks">


      <mat-card class="example-card">

        <mat-card-content>
          <p>
            {{homework.description}} <br>
            <br>
            Deadline: {{homework.deadline}}<br>
            Points: {{homework.points}}<br>
          </p>
        </mat-card-content>

        <mat-card-actions>

        </mat-card-actions>

      </mat-card>

    </div>


  </div>
</div>


<mat-card *ngIf="exam" class="course-details">

  EXAM:

  <mat-card-content>
    <p>

      Exam date: {{exam.examDate}}<br>
      {{exam.description}}<br>
      Points: {{exam.points}}<br>
      Exam room: {{exam.examRoom}}<br>
      Exam hour: {{exam.examHour}}<br>

    </p>
  </mat-card-content>

</mat-card>


</body>
</html>
<router-outlet></router-outlet>
