h2 {
  text-align: center;
  font-weight: bold;
}

.mat-tab-group {
  margin-bottom: 48px;
}
.details {
  width: 50%;

  margin-left:auto;
  margin-right:auto;
}
.exam {
  width: 50%;

  margin-left:auto;
  margin-right:auto;
}

.homeworks{
  margin-left:auto;
  margin-right:auto;
}

.mat-column-description {
  max-width: 45vw;
}
