<!--Pagina in care profesorul poate edita cursul-->
<app-toolbar></app-toolbar>
<html>

<body>
<h2>{{course.name}}</h2>

<mat-tab-group mat-align-tabs="center" animationDuration="0ms">

  <mat-tab label="Details">

    <mat-card class="details">
      <mat-card-content>
        <div>
          <p>{{course.description}} </p>
          <br>
          <p>Year: {{course.year}} </p>
          <p>Semester: {{course.semester}}</p>
          <p>Number of students: {{course.numberOfStudents}} </p>
          <p *ngIf="exam">Exam date: {{exam.examDate}}</p>
        </div>
      </mat-card-content>

      <button mat-mini-fab (click)="openDialogUpdateCourse()">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-card>

    <mat-card style="text-align: center">

      <form>
        <mat-form-field appearance="fill">
          <input matInput placeholder="student name" type="text" [(ngModel)]="studentName" name="studentName">
        </mat-form-field>

        <button mat-mini-fab (click)="getAllStudentsByCourseIdAndStudentName(studentName)">
          <mat-icon>search</mat-icon>
        </button>

        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                See student/students info:
              </mat-panel-title>
            </mat-expansion-panel-header>

            <table mat-table [dataSource]="StudentsByName" class="mat-elevation-z8">

              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id</th>
                <td mat-cell *matCellDef="let student"> {{student.id}} </td>
              </ng-container>

              <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef> First name</th>
                <td mat-cell *matCellDef="let student"> {{student.firstName}} </td>
              </ng-container>

              <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef> Last name</th>
                <td mat-cell *matCellDef="let student"> {{student.lastName}} </td>
              </ng-container>

              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email</th>
                <td mat-cell *matCellDef="let student"> {{student.email}} </td>
              </ng-container>

              <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef> Username</th>
                <td mat-cell *matCellDef="let student"> {{student.username}} </td>
              </ng-container>

              <ng-container matColumnDef="groupNumber">
                <th mat-header-cell *matHeaderCellDef> Group number</th>
                <td mat-cell *matCellDef="let student"> {{student.groupNumber}}  </td>
              </ng-container>

              <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef> Phone</th>
                <td mat-cell *matCellDef="let student"> {{student.phone}}  </td>
              </ng-container>

              <ng-container matColumnDef="year">
                <th mat-header-cell *matHeaderCellDef> Year</th>
                <td mat-cell *matCellDef="let student"> {{student.year}}  </td>
              </ng-container>

              <ng-container matColumnDef="department">
                <th mat-header-cell *matHeaderCellDef> Department</th>
                <td mat-cell *matCellDef="let student"> {{student.department}}  </td>
              </ng-container>

              <ng-container matColumnDef="grade">
                <th mat-header-cell *matHeaderCellDef> Grade</th>
                <td mat-cell *matCellDef="let student"> {{student.grade}}  </td>
              </ng-container>

              <ng-container matColumnDef="addGrade">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let student">
                  <button mat-mini-fab
                          (click)="openDialogAddGradeForStudentForGetAllStudentsByCourseIdAndStudentNameFunction(student.id)">
                    <mat-icon class="material-icons-outlined">grading</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsStudents"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsStudents;"></tr>

            </table>

          </mat-expansion-panel>
        </mat-accordion>
      </form>

      <br>
      <form>

        <div style="text-align: center">
          <button mat-raised-button (click)="getAllStudentsByCourseId()">Show all students</button>
        </div>

        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                See all students info:
              </mat-panel-title>
            </mat-expansion-panel-header>

            <table mat-table [dataSource]="AllStudents" class="mat-elevation-z8">

              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id</th>
                <td mat-cell *matCellDef="let student"> {{student.id}} </td>
              </ng-container>

              <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef> First name</th>
                <td mat-cell *matCellDef="let student"> {{student.firstName}} </td>
              </ng-container>

              <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef> Last name</th>
                <td mat-cell *matCellDef="let student"> {{student.lastName}} </td>
              </ng-container>

              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email</th>
                <td mat-cell *matCellDef="let student"> {{student.email}} </td>
              </ng-container>

              <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef> Username</th>
                <td mat-cell *matCellDef="let student"> {{student.username}} </td>
              </ng-container>

              <ng-container matColumnDef="groupNumber">
                <th mat-header-cell *matHeaderCellDef> Group number</th>
                <td mat-cell *matCellDef="let student"> {{student.groupNumber}}  </td>
              </ng-container>

              <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef> Phone</th>
                <td mat-cell *matCellDef="let student"> {{student.phone}}  </td>
              </ng-container>

              <ng-container matColumnDef="year">
                <th mat-header-cell *matHeaderCellDef> Year</th>
                <td mat-cell *matCellDef="let student"> {{student.year}}  </td>
              </ng-container>

              <ng-container matColumnDef="department">
                <th mat-header-cell *matHeaderCellDef> Department</th>
                <td mat-cell *matCellDef="let student"> {{student.department}}  </td>
              </ng-container>

              <ng-container matColumnDef="grade">
                <th mat-header-cell *matHeaderCellDef> Grade</th>
                <td mat-cell *matCellDef="let student"> {{student.grade}}  </td>
              </ng-container>

              <ng-container matColumnDef="addGrade">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let student">
                  <button mat-mini-fab
                          (click)="openDialogAddGradeForStudentForGetAllStudentsByCourseIdFunction(student.id)">
                    <mat-icon class="material-icons-outlined">grading</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsStudents"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsStudents;"></tr>

            </table>

          </mat-expansion-panel>
        </mat-accordion>
      </form>
    </mat-card>
  </mat-tab>


  <mat-tab label="Exam">

    <div style="text-align: center">
      <button mat-fab (click)="openDialogAddNewExam()">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <mat-card *ngIf="exam" class="exam">
      <mat-card-content>
        <div>
          <p>{{exam.description}}</p>
          <br>
          <p>Exam date: {{exam.examDate}}</p>
          <p>Exam room: {{exam.examRoom}}</p>
          <p>Exam hour: {{exam.examHour}}</p>
          <p>Points: {{exam.points}}</p>
        </div>
      </mat-card-content>

      <button mat-mini-fab (click)="removeExam(exam.id)">
        <mat-icon>delete</mat-icon>
      </button>

      <button mat-mini-fab (click)="openDialogUpdateExam(exam.id,exam.courseId)">
        <mat-icon>edit</mat-icon>
      </button>

    </mat-card>
  </mat-tab>


  <mat-tab label="Homeworks">

    <div style="text-align: center">
      <button mat-fab (click)="openDialogAddNewHomework()">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <table mat-table [dataSource]="Homeworks" class="mat-elevation-z8">

      <ng-container matColumnDef="deadline">
        <th mat-header-cell *matHeaderCellDef> Deadline</th>
        <td mat-cell *matCellDef="let homework"> {{homework.deadline}} </td>
      </ng-container>

      <ng-container matColumnDef="points">
        <th mat-header-cell *matHeaderCellDef> Points</th>
        <td mat-cell *matCellDef="let homework">{{homework.points}}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description</th>
        <td mat-cell *matCellDef="let homework">{{homework.description}}</td>
      </ng-container>

      <ng-container matColumnDef="removeHomework">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let homework">
          <button mat-mini-fab (click)="removeHomework(homework.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="editHomework">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let homework">
          <button mat-mini-fab (click)="openDialogUpdateHomework(homework.id, homework.courseId)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsHomeworks"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsHomeworks;"></tr>

    </table>
  </mat-tab>

</mat-tab-group>
</body>
</html>
<router-outlet></router-outlet>
