<h2 mat-dialog-title>Add new student</h2>

<mat-dialog-content class="register-dialog">
  <form [formGroup]="registrationForm">

          <mat-form-field appearance="fill">
            <input matInput formControlName="firstName" placeholder="first name" type="text">
            <mat-error
              *ngIf=" (registrationForm.controls['firstName'].dirty || registrationForm.controls['firstName'].touched);">
              <mat-error *ngIf="registrationForm.controls['firstName'].hasError('required')">
                Field required
              </mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <input matInput formControlName="lastName" placeholder="last name" type="text">
            <mat-error
              *ngIf=" (registrationForm.controls['lastName'].dirty || registrationForm.controls['lastName'].touched);">
              <mat-error *ngIf="registrationForm.controls['lastName'].hasError('required')">
                Field required
              </mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <input matInput formControlName="email" placeholder="email" type="text">
            <mat-error
              *ngIf=" (registrationForm.controls['email'].dirty || registrationForm.controls['email'].touched);">
              <mat-error *ngIf="registrationForm.controls['email'].hasError('required')">
                Field required
              </mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <input matInput formControlName="password" placeholder="password" type="password">
            <mat-error
              *ngIf=" (registrationForm.controls['password'].dirty || registrationForm.controls['password'].touched);">
              <mat-error *ngIf="registrationForm.controls['password'].hasError('required')">
                Field required
              </mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <input matInput formControlName="username" placeholder="username" type="text">
            <mat-error
              *ngIf=" (registrationForm.controls['username'].dirty || registrationForm.controls['username'].touched);">
              <mat-error *ngIf="registrationForm.controls['username'].hasError('required')">
                Field required
              </mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <input matInput formControlName="groupNumber" placeholder="group number" type="number">
            <mat-error
              *ngIf=" (registrationForm.controls['groupNumber'].dirty || registrationForm.controls['groupNumber'].touched);">
              <mat-error *ngIf="registrationForm.controls['groupNumber'].hasError('required')">
                Field required
              </mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <input matInput formControlName="phone" placeholder="phone" type="text">
            <mat-error
              *ngIf=" (registrationForm.controls['phone'].dirty || registrationForm.controls['phone'].touched);">
              <mat-error *ngIf="registrationForm.controls['phone'].hasError('required')">
                Field required
              </mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <input matInput formControlName="year" placeholder="year" type="text">
            <mat-error
              *ngIf=" (registrationForm.controls['year'].dirty || registrationForm.controls['year'].touched);">
              <mat-error *ngIf="registrationForm.controls['year'].hasError('required')">
                Field required
              </mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <input matInput formControlName="department" placeholder="department" type="text">
            <mat-error
              *ngIf=" (registrationForm.controls['department'].dirty || registrationForm.controls['department'].touched)">
              <mat-error *ngIf="registrationForm.controls['department'].hasError('required')">
                Field required
              </mat-error>
            </mat-error>
          </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button [mat-dialog-close]="true" (click)="submit()">Submit</button>
</mat-dialog-actions>
