<h2 mat-dialog-title>Add new exam</h2>

<mat-dialog-content class="register-dialog">
  <form [formGroup]="registrationForm">

    <mat-form-field appearance="fill">
      <input matInput formControlName="description" placeholder="description" type="text">
      <mat-error
        *ngIf=" (registrationForm.controls['description'].dirty || registrationForm.controls['description'].touched);">
        <mat-error *ngIf="registrationForm.controls['description'].hasError('required')">
          Field required
        </mat-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <input matInput formControlName="examDate" placeholder="exam date" type="text">
      <mat-error
        *ngIf=" (registrationForm.controls['examDate'].dirty || registrationForm.controls['examDate'].touched);">
        <mat-error *ngIf="registrationForm.controls['examDate'].hasError('required')">
          Field required
        </mat-error>
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <input matInput formControlName="points" placeholder="points" type="text">
      <mat-error
        *ngIf=" (registrationForm.controls['points'].dirty || registrationForm.controls['points'].touched);">
        <mat-error *ngIf="registrationForm.controls['points'].hasError('required')">
          Field required
        </mat-error>
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <input matInput formControlName="examRoom" placeholder="exam room" type="text">
      <mat-error
        *ngIf=" (registrationForm.controls['examRoom'].dirty || registrationForm.controls['examRoom'].touched);">
        <mat-error *ngIf="registrationForm.controls['examRoom'].hasError('required')">
          Field required
        </mat-error>
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <input matInput formControlName="examHour" placeholder="exam hour" type="text">
      <mat-error
        *ngIf=" (registrationForm.controls['examHour'].dirty || registrationForm.controls['examHour'].touched);">
        <mat-error *ngIf="registrationForm.controls['examHour'].hasError('required')">
          Field required
        </mat-error>
      </mat-error>
    </mat-form-field>


  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button [mat-dialog-close]="true" (click)="submit()">Submit</button>
</mat-dialog-actions>
