<div>

  <mat-card style="text-align: center">
    <mat-card-title>Search homework:</mat-card-title>
    <br>

    <!--  Get homework by id-->
    <form>

      <mat-form-field appearance="fill">
        <input matInput placeholder="homework id" type="number" [(ngModel)]="homeworkId" name="homeworkId">
      </mat-form-field>

      <button mat-mini-fab (click)="getHomework(homeworkId)">
        <mat-icon>search</mat-icon>
      </button>

      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              See homework info:
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngIf="homework">
            <table class="mat-elevation-z8">
              <tr>
                <th>Deadline</th>
                <th>Points</th>
                <th>Course id</th>
                <th>Course name</th>
                <th>Description</th>
                <th></th>
                <th></th>
              </tr>
              <td>{{homework.deadline}}</td>
              <td>{{homework.points}}</td>
              <td>{{homework.courseId}}</td>
              <td>{{homework.courseName}}</td>
              <td style="max-width: 45vw;">{{homework.description}} </td>
              <td>
                <button mat-mini-fab (click)="openDialogRemoveHomeworkForGetHomeworkFunction(homework.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
              <td>
                <button mat-mini-fab
                        (click)="openDialogUpdateHomeworkForGetHomeworkFunction(homework.id,homework.courseId)">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </table>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </form>

    <br>

    <!--  Get all homeworks by course id-->
    <form>

      <mat-form-field appearance="fill">
        <input matInput placeholder="course id" type="number" [(ngModel)]="courseId" name="courseId">
      </mat-form-field>

      <button mat-mini-fab (click)="getAllHomeworksByCourseId(courseId)">
        <mat-icon>search</mat-icon>
      </button>

      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              See homework info:
            </mat-panel-title>
          </mat-expansion-panel-header>

          <table mat-table [dataSource]="dataSourceAllHomeworksByCourseId" class="mat-elevation-z8">

            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Id</th>
              <td mat-cell *matCellDef="let homework"> {{homework.id}} </td>
            </ng-container>

            <ng-container matColumnDef="deadline">
              <th mat-header-cell *matHeaderCellDef> Deadline</th>
              <td mat-cell *matCellDef="let homework"> {{homework.deadline}} </td>
            </ng-container>

            <ng-container matColumnDef="points">
              <th mat-header-cell *matHeaderCellDef> Points</th>
              <td mat-cell *matCellDef="let homework">{{homework.points}}</td>
            </ng-container>

            <ng-container matColumnDef="courseId">
              <th mat-header-cell *matHeaderCellDef> Course id</th>
              <td mat-cell *matCellDef="let homework">{{homework.courseId}}</td>
            </ng-container>

            <ng-container matColumnDef="courseName">
              <th mat-header-cell *matHeaderCellDef> Course name</th>
              <td mat-cell *matCellDef="let homework">{{homework.courseName}}</td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Description</th>
              <td mat-cell *matCellDef="let homework">{{homework.description}}</td>
            </ng-container>

            <ng-container matColumnDef="removeHomework">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let homework">
                <button mat-mini-fab (click)="openDialogRemoveHomeworkForGetAllHomeworksByCourseIdFunction(homework.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="editHomework">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let homework">
                <button mat-mini-fab
                        (click)="openDialogUpdateHomeworkForGetAllHomeworksByCourseIdFunction(homework.id,homework.courseId)">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>

        </mat-expansion-panel>
      </mat-accordion>
    </form>

    <br>

    <!--  Get all homeworks by student id-->
    <form>

      <mat-form-field appearance="fill">
        <input matInput placeholder="student id" type="number" [(ngModel)]="studentId" name="studentId">
      </mat-form-field>

      <button mat-mini-fab (click)="getAllHomeworksByStudentId(studentId)">
        <mat-icon>search</mat-icon>
      </button>

      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              See homework info:
            </mat-panel-title>
          </mat-expansion-panel-header>

          <table mat-table [dataSource]="dataSourceAllHomeworksByStudentId" class="mat-elevation-z8">

            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Id</th>
              <td mat-cell *matCellDef="let homework"> {{homework.id}} </td>
            </ng-container>

            <ng-container matColumnDef="deadline">
              <th mat-header-cell *matHeaderCellDef> Deadline</th>
              <td mat-cell *matCellDef="let homework"> {{homework.deadline}} </td>
            </ng-container>

            <ng-container matColumnDef="points">
              <th mat-header-cell *matHeaderCellDef> Points</th>
              <td mat-cell *matCellDef="let homework">{{homework.points}}</td>
            </ng-container>

            <ng-container matColumnDef="courseId">
              <th mat-header-cell *matHeaderCellDef> Course id</th>
              <td mat-cell *matCellDef="let homework">{{homework.courseId}}</td>
            </ng-container>

            <ng-container matColumnDef="courseName">
              <th mat-header-cell *matHeaderCellDef> Course name</th>
              <td mat-cell *matCellDef="let homework">{{homework.courseName}}</td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Description</th>
              <td mat-cell *matCellDef="let homework">{{homework.description}}</td>
            </ng-container>

            <ng-container matColumnDef="removeHomework">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let homework">
                <button mat-mini-fab (click)="openDialogRemoveHomeworkForGetAllHomeworksByStudentIdFunction(homework.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="editHomework">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let homework">
                <button mat-mini-fab
                        (click)="openDialogUpdateHomeworkForGetAllHomeworksByStudentIdFunction(homework.id,homework.courseId)">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>

        </mat-expansion-panel>
      </mat-accordion>
    </form>

  </mat-card>

  <!--  Get all homeworks-->
  <mat-card>

    <form>
      <div style="text-align: center">
        <button mat-raised-button (click)="getAllHomeworks()">Show all homework</button>
      </div>
      <mat-accordion>

        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              See all homework info:
            </mat-panel-title>

          </mat-expansion-panel-header>
          <table mat-table [dataSource]="dataSourceAllHomeworks" class="mat-elevation-z8">

            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Id</th>
              <td mat-cell *matCellDef="let homework"> {{homework.id}} </td>
            </ng-container>

            <ng-container matColumnDef="deadline">
              <th mat-header-cell *matHeaderCellDef> Deadline</th>
              <td mat-cell *matCellDef="let homework"> {{homework.deadline}} </td>
            </ng-container>

            <ng-container matColumnDef="points">
              <th mat-header-cell *matHeaderCellDef> Points</th>
              <td mat-cell *matCellDef="let homework">{{homework.points}}</td>
            </ng-container>

            <ng-container matColumnDef="courseId">
              <th mat-header-cell *matHeaderCellDef> Course id</th>
              <td mat-cell *matCellDef="let homework">{{homework.courseId}}</td>
            </ng-container>

            <ng-container matColumnDef="courseName">
              <th mat-header-cell *matHeaderCellDef> Course name</th>
              <td mat-cell *matCellDef="let homework">{{homework.courseName}}</td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Description</th>
              <td mat-cell *matCellDef="let homework">{{homework.description}}</td>
            </ng-container>

            <ng-container matColumnDef="removeHomework">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let homework">
                <button mat-mini-fab (click)="openDialogRemoveHomeworkForGetAllHomeworksFunction(homework.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="editHomework">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let homework">
                <button mat-mini-fab
                        (click)="openDialogUpdateHomeworkForGetAllHomeworksFunction(homework.id,homework.courseId)">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>
        </mat-expansion-panel>
      </mat-accordion>
    </form>
  </mat-card>

</div>
<router-outlet></router-outlet>
