<body>
<h2 mat-dialog-title>Contact page</h2>

<mat-dialog-content>
  <h3>Public audience schedule:</h3>
  <p>MONDAY: 12:00 - 15:00</p>
  <p> TUESDAY: 12:00 - 15:00</p>
  <p> WEDNESDAY: 10:00 - 15:00</p>
  <p> THURSDAY: 10:00 - 15:00</p>
  <p> FRIDAY: 12:00 - 14:00</p>

  <mat-divider></mat-divider>

  <h3>Email address and secretariat phone number:</h3>
  <p>0723584168</p>
  <p>secretariat@email.com</p>

  <mat-divider></mat-divider>

  <h3>Contact information for the mathematics department:</h3>
  <p>0752349175</p>
  <p>mate@email.com</p>

  <mat-divider></mat-divider>

  <h3>Contact information for the informatics department:</h3>
  <p>0734856127</p>
  <p>info@email.com</p>

  <mat-divider></mat-divider>

  <h3>Contact information for the CTI department:</h3>

  <p>0767813245</p>
  <p>cti@email.com</p>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
</body>
