<app-toolbar></app-toolbar>
<html>

<body>
<div style="text-align: center">
  <button mat-raised-button routerLink="/courseAdministration">Course Administration</button>
  <button mat-raised-button routerLink="/examAdministration">Exam Administration</button>
  <button mat-raised-button routerLink="/homeworkAdministration">Homework Administration</button>
  <button mat-raised-button routerLink="/professorAdministration">Professor Administration</button>
  <button mat-raised-button routerLink="/studentAdministration">Student Administration</button>
</div>
</body>

<router-outlet></router-outlet>

</html>

