<app-toolbar></app-toolbar>
<html>
<!--Pagina pt examenele unui student-->
<body>


<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let exam of Exams">


      <mat-card class="example-card">

        <mat-card-content>
          <p>
            Course: {{exam.courseName}} <br>
            {{exam.description}}<br>
            Exam date: {{exam.examDate}}<br>
            Points: {{exam.points}}<br>
          </p>
        </mat-card-content>

        <mat-card-actions>

        </mat-card-actions>

      </mat-card>

    </div>


  </div>
</div>


</body>

<router-outlet></router-outlet>

</html>

