<app-toolbar></app-toolbar>
<html>

<body>
<button mat-raised-button routerLink="/courseAdministration">Course Administration</button>
<button mat-raised-button routerLink="/examAdministration">Exam Administration</button>
<button mat-raised-button routerLink="/homeworkAdministration">Homework Administration</button>
<button mat-raised-button routerLink="/professorAdministration">Professor Administration</button>
<button mat-raised-button routerLink="/studentAdministration">Student Administration</button>

</body>


<!-- ca sa se vada pag1 si pag2 pe site punem router-outlet ptc daca nu il puneam nu se vedeau-->
<router-outlet></router-outlet>
<!--<app-sign-up></app-sign-up>-->

</html>

