<div>
  <mat-card>
    <p>Update Exam</p>
    <form [formGroup]="registrationForm">

      <input formControlName="id" placeholder="id" type="number">
      <input formControlName="description" placeholder="description" type="text">
      <input formControlName="examDate" placeholder="examDate" type="text">
      <input formControlName="points" placeholder="points" type="text">
      <input formControlName="examRoom" placeholder="examRoom" type="text">
      <input formControlName="examHour" placeholder="examHour" type="text">
      <input formControlName="courseId" placeholder="courseId" type="number">

    </form>

    <div>
      <button mat-raised-button (click)="submit()">Submit</button>
    </div>

  </mat-card>

</div>
<router-outlet></router-outlet>
