<app-toolbar></app-toolbar>
<html>

<body>

<div style="text-align: center">
  <button mat-fab (click)="openDialogRegisterProfessor()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div style="text-align: center">
  <button mat-raised-button (click)="openDialogUpdateProfessor()">
    Update professor
  </button>

  <button mat-raised-button (click)="openDialogRemoveProfessor()">
    Remove professor
  </button>
</div>


</body>
</html>
<app-get-professor></app-get-professor>
<router-outlet></router-outlet>


