<div>

  <mat-card style="text-align: center">
    <mat-card-title>Search exams:</mat-card-title>
    <br>

    <!--  Get exam by id -->
    <form>

      <mat-form-field appearance="fill">
        <input matInput placeholder="exam id" type="text" [(ngModel)]="examId" name="examId">
      </mat-form-field>

      <button mat-mini-fab (click)="getExam(examId)">
        <mat-icon>search</mat-icon>
      </button>

      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              See exam info:
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngIf="exam">
            <table class="mat-elevation-z8">
              <tr>
                <th>Course name</th>
                <th> Exam date</th>
                <th> Exam room</th>
                <th> Exam hour</th>
                <th> Points</th>
                <th> Course id</th>
                <th> Description</th>
                <th></th>
                <th></th>
              </tr>
              <td> {{exam.courseName}} </td>
              <td> {{exam.examDate}} </td>
              <td> {{exam.examRoom}} </td>
              <td> {{exam.examHour}} </td>
              <td> {{exam.points}}</td>
              <td> {{exam.courseId}}</td>
              <td style="max-width: 45vw;"> {{exam.description}} </td>
              <td>
                <button mat-mini-fab (click)="removeExamForGetExamFunction(exam.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
              <td>
                <button mat-mini-fab (click)="openDialogUpdateExamForGetExamFunction(exam.id,exam.courseId)">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </table>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </form>

    <br>

    <!--  Get exam by course id -->
    <form>

      <mat-form-field appearance="fill">
        <input matInput placeholder="course id" type="text" [(ngModel)]="courseId" name="courseId">
      </mat-form-field>

      <button mat-mini-fab (click)="getExamByCourseId(courseId)">
        <mat-icon>search</mat-icon>
      </button>

      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              See exam info:
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngIf="examByCourseId">
            <table class="mat-elevation-z8">
              <tr>
                <th>Id</th>
                <th>Course name</th>
                <th> Exam date</th>
                <th> Exam room</th>
                <th> Exam hour</th>
                <th> Points</th>
                <th> Course id</th>
                <th> Description</th>
                <th></th>
                <th></th>
              </tr>
              <td> {{examByCourseId.id}} </td>
              <td> {{examByCourseId.courseName}} </td>
              <td> {{examByCourseId.examDate}} </td>
              <td> {{examByCourseId.examRoom}} </td>
              <td> {{examByCourseId.examHour}} </td>
              <td> {{examByCourseId.points}}</td>
              <td> {{examByCourseId.courseId}}</td>
              <td style="max-width: 45vw;"> {{examByCourseId.description}} </td>
              <td>
                <button mat-mini-fab (click)="removeExamForGetExamByCourseIdFunction(examByCourseId.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
              <td>
                <button mat-mini-fab (click)="openDialogUpdateExamForGetExamByCourseIdFunction(examByCourseId.id,examByCourseId.courseId)">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </table>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </form>

    <br>
    <!--  Get all exams by student id-->

    <form>

      <mat-form-field appearance="fill">
        <input matInput placeholder="student id" type="text" [(ngModel)]="studentId" name="studentId">
      </mat-form-field>

      <button mat-mini-fab (click)="getAllExamsByStudentId(studentId)">
        <mat-icon>search</mat-icon>
      </button>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              See exams info:
            </mat-panel-title>
          </mat-expansion-panel-header>

          <table mat-table [dataSource]="dataSourceAllExamsByStudentId" class="mat-elevation-z8">

            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Id</th>
              <td mat-cell *matCellDef="let exam"> {{exam.id}} </td>
            </ng-container>

            <ng-container matColumnDef="courseName">
              <th mat-header-cell *matHeaderCellDef> Course name</th>
              <td mat-cell *matCellDef="let exam"> {{exam.courseName}} </td>
            </ng-container>

            <ng-container matColumnDef="examDate">
              <th mat-header-cell *matHeaderCellDef> Exam date</th>
              <td mat-cell *matCellDef="let exam">{{exam.examDate}}</td>
            </ng-container>

            <ng-container matColumnDef="examRoom">
              <th mat-header-cell *matHeaderCellDef> Exam room</th>
              <td mat-cell *matCellDef="let exam">{{exam.examRoom}}</td>
            </ng-container>

            <ng-container matColumnDef="examHour">
              <th mat-header-cell *matHeaderCellDef> Exam hour</th>
              <td mat-cell *matCellDef="let exam">{{exam.examHour}}</td>
            </ng-container>

            <ng-container matColumnDef="points">
              <th mat-header-cell *matHeaderCellDef> Points</th>
              <td mat-cell *matCellDef="let exam">{{exam.points}}</td>
            </ng-container>

            <ng-container matColumnDef="courseId">
              <th mat-header-cell *matHeaderCellDef> Course id</th>
              <td mat-cell *matCellDef="let exam">{{exam.courseId}}</td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Description</th>
              <td mat-cell *matCellDef="let exam">{{exam.description}}</td>
            </ng-container>

            <ng-container matColumnDef="removeExam">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let exam">
                <button mat-mini-fab (click)="removeExamForGetAllExamsByStudentIdFunction(exam.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="editExam">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let exam">
                <button mat-mini-fab (click)="openDialogUpdateExamForGetAllExamsByStudentIdFunction(exam.id,exam.courseId)">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>

        </mat-expansion-panel>
      </mat-accordion>
    </form>

  </mat-card>


  <!--  Get all exams-->
  <mat-card>
    <form>
      <div style="text-align: center">
        <button mat-raised-button (click)="getAllExams()">Show all exams</button>
      </div>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              See all exams info:
            </mat-panel-title>
          </mat-expansion-panel-header>

          <table mat-table [dataSource]="dataSourceAllExams" class="mat-elevation-z8">

            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Id</th>
              <td mat-cell *matCellDef="let exam"> {{exam.id}} </td>
            </ng-container>


            <ng-container matColumnDef="courseName">
              <th mat-header-cell *matHeaderCellDef> Course name</th>
              <td mat-cell *matCellDef="let exam"> {{exam.courseName}} </td>
            </ng-container>

            <ng-container matColumnDef="examDate">
              <th mat-header-cell *matHeaderCellDef> Exam date</th>
              <td mat-cell *matCellDef="let exam">{{exam.examDate}}</td>
            </ng-container>

            <ng-container matColumnDef="examRoom">
              <th mat-header-cell *matHeaderCellDef> Exam room</th>
              <td mat-cell *matCellDef="let exam">{{exam.examRoom}}</td>
            </ng-container>

            <ng-container matColumnDef="examHour">
              <th mat-header-cell *matHeaderCellDef> Exam hour</th>
              <td mat-cell *matCellDef="let exam">{{exam.examHour}}</td>
            </ng-container>

            <ng-container matColumnDef="points">
              <th mat-header-cell *matHeaderCellDef> Points</th>
              <td mat-cell *matCellDef="let exam">{{exam.points}}</td>
            </ng-container>

            <ng-container matColumnDef="courseId">
              <th mat-header-cell *matHeaderCellDef> Course id</th>
              <td mat-cell *matCellDef="let exam">{{exam.courseId}}</td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Description</th>
              <td mat-cell *matCellDef="let exam">{{exam.description}}</td>
            </ng-container>

            <ng-container matColumnDef="removeExam">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let exam">
                <button mat-mini-fab (click)="removeExamForGetAllExamsFunction(exam.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="editExam">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let exam">
                <button mat-mini-fab (click)="openDialogUpdateExamForGetAllExamsFunction(exam.id,exam.courseId)">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>

        </mat-expansion-panel>
      </mat-accordion>
    </form>
  </mat-card>

</div>
<router-outlet></router-outlet>
