<app-toolbar></app-toolbar>
<html>

<body>
<button  mat-raised-button routerLink="/exams">My exams</button>
<button  mat-raised-button routerLink="/homeworks">My homeworks</button>
<button  mat-raised-button routerLink="/grades">My Grades</button>

<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="32%" *ngFor="let course of Courses">


      <mat-card class="example-card">

        <mat-card-content>
<!--          <img mat-card-image src="{{product.photoLink}}" alt="Photo">-->
          <p>
            {{course.name}} <br>
            <br>
            {{course.professorName}}<br>
          </p>
        </mat-card-content>

        <mat-card-actions>
<!--          <button mat-raised-button routerLink="/createOrder/{{product.id}}">Create order</button>-->
          <button mat-raised-button routerLink="/courseDetails/{{course.id}}">See details</button>
        </mat-card-actions>

      </mat-card>

    </div>


  </div>
</div>


</body>


<!-- ca sa se vada pag1 si pag2 pe site punem router-outlet ptc daca nu il puneam nu se vedeau-->
<router-outlet></router-outlet>
<!--<app-sign-up></app-sign-up>-->

</html>

