<router-outlet></router-outlet>

<mat-toolbar>

  <button routerLink="/home" mat-icon-button class="example-icon">
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
  </button>


  <span>{{title}}</span>
  <span class="example-spacer"></span>
  <button mat-raised-button *ngIf="isAdmin" routerLink="/admin-home" mat-raised-button>Admin</button>
  <button mat-raised-button routerLink="/edit-profile" mat-raised-button>Edit profile</button>
  <button mat-raised-button (click)="logout()">logout</button>


</mat-toolbar>
