<html>

<body>
<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="32%" *ngFor="let course of Courses">

      <mat-card class="example-card">

        <mat-card-content>
          <div>
            <b><p>{{course.name}}</p></b>
            <p>Professor name: {{course.professorName}}</p>
          </div>
        </mat-card-content>

        <mat-card-actions>
          <button class="matButton" mat-raised-button routerLink="/manageCourse/{{course.id}}">See details</button>
        </mat-card-actions>

      </mat-card>
    </div>
  </div>
</div>


</body>

<router-outlet></router-outlet>

</html>

