// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$EducationZone-Frontend-primary: mat.define-palette(mat.$indigo-palette);
$EducationZone-Frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$EducationZone-Frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$EducationZone-Frontend-theme: mat.define-light-theme((
  color: (
    primary: $EducationZone-Frontend-primary,
    accent: $EducationZone-Frontend-accent,
    warn: $EducationZone-Frontend-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($EducationZone-Frontend-theme);

/* You can add global styles to this file, and also import other style files */

html, body {
  //height: 100%;
  background: #FFFFFF;


}
p {
  font-size: 17px;
}
body {
  margin: 10px;
  font-family: Roboto, "Helvetica Neue", sans-serif;

}

.mat-card {
  background: #DEF2F1;
  margin-top: 10px;
  //max-width: 400px;
  //text-align: center;
  //alignment: center;
}

.mat-raised-button:not([icon]), .mat-fab:not([icon]), .mat-mini-fab:not([icon]) {
  margin: 5px;
  background: #569EAD;
}

.mat-expansion-panel {
  background: white
}

.mat-dialog-content {
  width: 350px;
  text-align: center;
}

.register-dialog {
  background-color: #DEF2F1;
}

.mat-header-cell {
  font-weight: bold;
  color: black;
  font-size: 14px;
}

table {
  width: 100%;
  text-align: left;
}



//#569EAD
//#DEF2F1
//#FFFFFF
//#326273

//#3c7379
//#dffcff
//#bff9ff
//#78DCF0
//#5EADBD


//form>input{
//  height: 30px;
//  margin: 5px;
//  border: 1.5px solid #569EAD;
//  border-radius: 4px;
//}
