<div>



  <!--  Get courses by name-->
  <mat-card>
    <p>Write course name:</p>
    <form class="example-form">

      <mat-form-field class="example-form-field" appearance="fill">
        <input matInput type="text" [(ngModel)]="courseName" name="courseName">
      </mat-form-field>
      <button mat-raised-button (click)="getAllCoursesByName(courseName)">Search</button>

      <mat-accordion>

        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              See course/courses info:
            </mat-panel-title>

          </mat-expansion-panel-header>
          <div *ngFor="let course of CoursesByName">
            <p> Id: {{course.id}} </p>
            <p> Course name: {{course.name}} </p>
            <p> Number of students: {{course.numberOfStudents}} </p>
            <p> Description: {{course.description}} </p>
            <p> Year: {{course.year}} </p>
            <p> Semester: {{course.semester}} </p>
            <p> Professor name: {{course.professorName}} </p>
            <br>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </form>
  </mat-card>




  <!--  Get all courses-->
  <mat-card>

    <form class="example-form">
      <button mat-raised-button (click)="getAllCourses()">Show all courses</button>

      <mat-accordion>

        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              See all courses info:
            </mat-panel-title>

          </mat-expansion-panel-header>
          <div *ngFor="let course of AllCourses">
            <p> Id: {{course.id}} </p>
            <p> Course name: {{course.name}} </p>
            <p> Number of students: {{course.numberOfStudents}} </p>
            <p> Description: {{course.description}} </p>
            <p> Year: {{course.year}} </p>
            <p> Semester: {{course.semester}} </p>
            <p> Professor name: {{course.professorName}} </p>
            <br>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </form>
  </mat-card>

  <!--  Get course by id-->
  <mat-card>
    <p>Write course id:</p>
    <form class="example-form">

      <mat-form-field class="example-form-field" appearance="fill">
        <input matInput type="text" [(ngModel)]="courseId" name="courseId">
      </mat-form-field>
      <button mat-raised-button (click)="getCourse(courseId)">Search</button>

      <mat-accordion>

        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              See course info:
            </mat-panel-title>

          </mat-expansion-panel-header>
          <div *ngIf="course" >
            <p> Course name: {{course.name}} </p>
            <p> Number of students: {{course.numberOfStudents}} </p>
            <p> Description: {{course.description}} </p>
            <p> Year: {{course.year}} </p>
            <p> Semester: {{course.semester}} </p>
            <p> Professor name: {{course.professorName}} </p>
            <br>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </form>
  </mat-card>

</div>
<router-outlet></router-outlet>
