<app-toolbar></app-toolbar>

<html>

<body>

<div style="text-align: center">
  <button mat-fab (click)="openDialogAddNewCourse()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div style="text-align: center">
  <button mat-raised-button (click)="openDialogUpdateCourse()">
    Update course
  </button>

  <button mat-raised-button (click)="openDialogRemoveCourse()">
    Remove course
  </button>

  <button mat-raised-button style="background: #78DCF0" (click)="openDialogAddStudentAtCourse()">
    Add student at course
  </button>

  <button mat-raised-button style="background: #78DCF0" (click)="openDialogAddGroupOfStudentsAtCourse()">
    Add group of students at course
  </button>

  <button mat-raised-button style="background: #78DCF0" (click)="openDialogRemoveStudentFromCourse()">
    Remove student from course
  </button>

  <button mat-raised-button style="background: #78DCF0" (click)="openDialogRemoveGroupOfStudentsFromCourse()">
    Remove group of students from course
  </button>

</div>

</body>
</html>

<app-get-course></app-get-course>
<router-outlet></router-outlet>
